name: CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["*"]

env:
  GO_VERSION: 1.21.0

jobs:
  build_and_format:
    name: LNDK Rust Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: sudo apt-get install protobuf-compiler
      - run: cargo build --release --all-features
      - run: cargo fmt -- --config unstable_features=true --config wrap_comments=true --config comment_width=100 --check
      - run: cargo clippy -- --deny warnings

  ########################
  # run ubuntu integration tests
  ########################
  ubuntu-integration-test:
    name: run ubuntu unit and integration tests
    runs-on: ubuntu-latest
    env:
      TMPDIR: /tmp
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "true"
      - uses: dtolnay/rust-toolchain@stable
      - run: sudo apt-get install protobuf-compiler
      - name: setup go ${{ env.GO_VERSION }}
        uses: lightningnetwork/lnd/.github/actions/setup-go@v0-16-4-branch
        with:
          go-version: "${{ env.GO_VERSION }}"
      - name: run unit tests
        run: cargo test --bin lndk
      - name: run cli unit tests
        run: cargo test --bin lndk-cli
      - name: run integration tests
        run: make itest

  coverage:
    name: LNDK Code Coverage
    runs-on: ubuntu-latest
    env:
      CARGO_TERM_COLOR: always
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: sudo apt-get install protobuf-compiler
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Generate code coverage
        run: cargo llvm-cov --bin lndk --workspace --lcov --output-path lcov.info
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: lcov.info
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}

  check-flake:
    name: Check Nix Flake
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Check Nix flake inputs
        uses: DeterminateSystems/flake-checker-action@v8

      - name: Install Nix
        uses: cachix/install-nix-action@V27
        with:
          nix_path: nixpkgs=channel:nixos-24.05
      - name: Check flake
        run: nix flake check

  ############################################################
  # run eclair integration tests
  ############################################################
  check-eclair:
    name: Eclair integration tests
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "true"
      - uses: dtolnay/rust-toolchain@stable
      - run: sudo apt-get install protobuf-compiler
      - name: setup go ${{ env.GO_VERSION }}
        uses: lightningnetwork/lnd/.github/actions/setup-go@v0-16-4-branch
        with:
          go-version: "${{ env.GO_VERSION }}"
      - name: Start bitcoind and eclair
        run: docker compose -f itest-docker/docker-compose-eclair.yaml up -d --wait
        working-directory: ${{ github.workspace }}

      - name: Run Eclair integration tests
        run: make eclair-itest
        working-directory: ${{ github.workspace }}

      - name: Print LND logs
        if: always()
        run: find /tmp/lndk-tests -path "*/lnd-data/lnd-logs/*" -type f -name "*.log" -exec echo "=== {} ===" \; -exec cat {} \;

      - name: Print Eclair logs
        if: always()
        run: docker compose -f itest-docker/docker-compose-eclair.yaml logs eclair

      - name: Print Bitcoin logs
        if: always()
        run: docker compose -f itest-docker/docker-compose-eclair.yaml logs bitcoin

      # Always run docker compose down even if tests fail
      - name: Stop containers
        if: always()
        run: docker compose -f itest-docker/docker-compose-eclair.yaml down
        working-directory: ${{ github.workspace }}
